/* GLOBAL STYLES */
$fonts: Arial, sans-serif;
$font-size: 1;
$header-line-height: 125%;
$shadow-attr: 0 0 1.5em 1em #a2c5ef;

@mixin navbar-shadow($shadow-attr){
-webkit-box-shadow: $shadow-attr;
    -moz-box-shadow: $shadow-attr;
        box-shadow: $shadow-attr;
}

/* BREAKPOINT VARIABLES */
$mobile: '400px';
$phablet: '550px';
$tablet: '750px';
$desktop: '1000px';
$large-desktop: '1200px';

/* mobile screen sizes */
@media (min-width: $mobile) {
 nav {
  padding: 2em;
  background-color: #1E88E5;
  font-weight: bold;
  color: #fff;
  text-align: center;
  @include navbar-shadow($shadow-attr);

    h1 {
      font-size: $font-size*1.5em;
      line-height: $header-line-height;
      padding: 1em 0;
    }

    ul {
      margin: 0 auto;

      li {
        display: inline-block;
        width: 30%;

        a {
          text-decoration: none;
          color: #fff;
        }

        a:hover {
          opacity: .8;
          font-weight: normal;
        }
    }

  }

 }
} //end mobile navbar styling


@media (min-width: $tablet) {

  nav {
    padding: .5em;

    > *{
      width: 40%;
      display: inline-block;
      text-align: left;
    }
  }
} //end tablet breakpoint

@media (min-width: $desktop) {
  nav {
    ul{
      text-align: right;
    }
  }
}
