@import 'resets';
@import 'nav';
@import 'footer';

/* GLOBAL STYLES */
$fonts: Arial, sans-serif;
$font-size: 1;

body {
  font-family: $fonts;
  font-size: $font-size em;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.row {
  width: 100%;
}

/* BREAKPOINT VARIABLES */
$mobile: '400px';
$phablet: '550px';
$tablet: '750px';
$desktop: '1000px';
$large-desktop: '1200px';

@media (min-width: $mobile) {

}

@media (min-width: $phablet) {

}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {
  .tile {
  display: inline-block;
  width: 30%;
  margin: 1%;
  padding: 5px;
}

.columns {
  width: 1/9%;
}

}

@media (min-width: $large-desktop) {

}
