@import 'resets';
@import 'nav';
@import 'footer';

body {
  font-family: $fonts;
}

/* BREAKPOINTS for CONTENT */

@media (min-width: $mobile) {
/* layout styling */
  .container {
    margin: 0 auto;
    width: 85%;
  }

  .row {
    display: block;
    padding: 1em;
  }

  .container.row {
    width: inherit;
  }

  img {
    height: auto;
    width: calc(100%);
  }

/* Tiles styling */
  .tile {
    text-align: center;
    margin: 0 0 1.5em;
    vertical-align: top;

    p{
      margin: 0 0 .5em;
      text-align: left;
    }

  }

/* Button styling */
  button {
      text-align: center;
      margin: .5em 0;
      padding: 1em 3em;
      border-radius: 5px;
      color: #fff;
      background-color: #0D47A1;
      border: none;
      font-weight: bold;
    }

  button:hover{
          opacity: .7;
        }

}

@media (min-width: $phablet) {
/* layout adjustments */
  .row {
  padding: 2em;
  }

/* tile adjustments */
.tile {
  width: 80%;
  margin: 0 auto;

  button{
  margin-bottom: 1.5em;
  }
}

}

@media (min-width: $tablet) {
/* layout adjustments */
  .container {
    width: 80%;
  }

  .row {
  padding: 1em 3em;
  }

}

@media (min-width: $desktop) {
/* layout adjustments */
  .row {
  padding: 1.5em 4em;
  }

  .tile {
  margin: 1em;
  display: inline-block;
  width: 28%;
  }

}

@media (min-width: $large-desktop) {
/* layout adjustments */
  .row {
  padding: 1.5em 5em;
  }

}
