@import 'resets';
@import 'nav';
@import 'footer';

body {
  font-family: $fonts;
}


/* BREAKPOINTS for CONTENT */

@media (min-width: $mobile) {

  .container {
    margin: 0 auto;
    width: 85%;
  }

  .row {
    display: block;
    padding: 1em;

    button{
      text-align: center;
    }
  }

  .container.row {
    width: inherit;
  }

  img {
    height: auto;
    width: calc(100%);
  }

}

@media (min-width: $phablet) {
  .row {
  padding: 2em;
  }

}

@media (min-width: $tablet) {
  .container {
    width: 80%;
  }

  .row {
  padding: 1em 3em;
  }

}

@media (min-width: $desktop) {
  .row {
  padding: 1.5em 4em;
  }

  .tile {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: .2em;
  padding: .2em;
  }

}

@media (min-width: $large-desktop) {
  .row {
  padding: 1.5em 5em;
  }

}
