/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, footer, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, footer, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GLOBAL STYLES */
/* BREAKPOINT VARIABLES */
/* mobile screen sizes */
@media (min-width: 400px) {
  nav, footer {
    padding: 2em;
    background-color: #1E88E5;
    font-weight: bold;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 0 1.5em 1em #a2c5ef;
    -moz-box-shadow: 0 0 1.5em 1em #a2c5ef;
    box-shadow: 0 0 1.5em 1em #a2c5ef; }
    nav h1, footer h1 {
      font-size: 1.5em;
      line-height: 125%;
      padding: 1em 0; }
    nav ul, footer ul {
      margin: 0 auto; }
      nav ul li, footer ul li {
        display: inline-block;
        width: 30%; }
        nav ul li a, footer ul li a {
          text-decoration: none;
          color: #fff; }
        nav ul li a:hover, footer ul li a:hover {
          opacity: .8;
          font-weight: normal; } }
@media (min-width: 750px) {
  nav, footer {
    padding: .5em; }
    nav > *, footer > * {
      width: 40%;
      display: inline-block;
      text-align: left; } }
@media (min-width: 1000px) {
  nav ul, footer ul {
    text-align: right; } }
/* FOOTER BREAKPOINTS */
footer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

@media (min-width: 400px) {
  h2 {
    font-size: 1.2em;
    line-height: 125%;
    font-weight: bold; }

  footer {
    padding: 0;
    text-align: left; }
    footer ul {
      color: #d3d3d3;
      font-weight: normal; }
      footer ul li {
        width: 100%;
        padding: .25em 0; }
        footer ul li a:hover {
          opacity: .8;
          font-weight: bold; }
    footer .copyright {
      background-color: #0D47A1;
      width: 100%; }
    footer a {
      text-decoration: none;
      color: #d3d3d3; }
    footer a:hover {
      opacity: .8;
      font-weight: normal; } }
/* end mobile breakpoint */
@media (min-width: 1000px) {
  footer ul {
    text-align: left; } }
/* end desktop breakpoint */
body {
  font-family: Arial, sans-serif; }

/* BREAKPOINTS for CONTENT */
@media (min-width: 400px) {
  /* layout styling */
  .container {
    margin: 0 auto;
    width: 85%; }

  .row {
    display: block;
    padding: 1em; }

  .container.row {
    width: inherit; }

  img {
    height: auto;
    width: calc(100%); }

  a {
    text-decoration: none; }

  /* Tiles styling */
  .tile {
    text-align: center;
    margin: 0 0 1.5em;
    vertical-align: top; }
    .tile p {
      margin: 0 0 .5em;
      text-align: left; }

  /* Button styling */
  button {
    text-align: center;
    margin: .5em 0;
    padding: 1em 3em;
    border-radius: 5px;
    color: #fff;
    background-color: #0D47A1;
    border: none;
    font-weight: bold; }

  button:hover {
    opacity: .7; }

  /* article pg styling */
  .article-container {
    padding: 2em; }

  .article-container:after {
    content: "";
    display: table;
    clear: both; }

  article, aside {
    display: block;
    vertical-align: top; }
    article p, aside p {
      margin: 1em 0;
      line-height: 150%; }

  aside {
    background-color: #E8E8EE;
    padding: .5em 1em; }

  h3 {
    font-weight: bold;
    margin: .5em; }

  .promotion {
    margin-bottom: 1.5em; }

  .ad-unit {
    max-width: 100%;
    height: 20em; }

  /* contact pg */
  .contact-pg {
    padding: 2em 0; }

  form {
    margin: 1.5em 0; }
    form > * {
      display: block;
      margin: 1em 0; }
    form textarea, form input {
      min-height: 20em;
      width: 100%;
      padding: .5em; }
    form input {
      min-height: 2.5em; }
    form a {
      color: #d3d3d3; }
    form a:hover {
      color: #0D47A1; } }
@media (min-width: 550px) {
  /* layout adjustments */
  .row {
    padding: 2em; }

  /* tile adjustments */
  .tile {
    width: 80%;
    margin: 0 auto; }
    .tile button {
      margin-bottom: 1.5em; } }
@media (min-width: 750px) {
  /* layout adjustments */
  .container {
    width: 80%; }

  .row {
    padding: 1em 3em; }

  /* contact form adjustments */
  form input {
    width: 47%;
    display: inline-block; } }
@media (min-width: 1000px) {
  /* layout adjustments */
  .row {
    padding: 1.5em 4em; }

  .tile {
    margin: 1em;
    display: inline-block;
    width: 28%; }

  /* article pg adjustments */
  article, aside {
    padding: 1.5em;
    display: inline-block;
    width: 56%; }

  aside {
    float: right;
    width: 30%; }

  /* contact form adjustments */
  form textarea {
    max-width: 60%; }
  form input {
    width: 25%;
    display: block; } }
@media (min-width: 1200px) {
  /* layout adjustments */
  .row {
    padding: 1.5em 5em; } }

/*# sourceMappingURL=output.css.map */
